/* src/styles/main.css */

:root {
    --width-mobile-min: 320px;
    --width-mobile: 640px;
    --width-tablet: 768px;
    --width-desktop: 1000px;

    --color-primary: #0484ff;
    --color-back: #f6f7fa;
    --color-black: #333;
    --color-white: #fff;
    --color-black-20: rgba(0, 0, 0, 0.2);
    --color-grey: #999;

    --font-default: 16px tahoma;
}

* {
    font: var(--font-default);
}

html,
body,
.Root-element {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

input {
    width: 100%;
    margin: 0;
    padding: 10px 20px;
}

.App {
    height: 100%;
    text-align: left;

    &-sidebar {
        top: 0;
        left: 0;
        width: 80px;
        height: 100%;
        position: fixed;
        background: #1d1d2b;
        overflow: auto;

        .Logo{
            display: block;
            text-align: center;
            margin-right: 5px;
            width: calc(100% - 5px);
            font-size: 58px;
            color: var(--color-primary);
            text-decoration: none;
            transition: 0.5s ease;
            &:active{
                transform: scale(0.95) rotateY(360deg);
                filter: drop-shadow(0 0 8px var(--color-white));
            }
        }
        & > a {
            & > svg {
                width: 50%;
                margin: 25%;
                stroke: var(--color-grey);
                fill: transparent;
                transition: 0.5s ease;

                &:not(.active):hover,
                &:not(.active):active {
                    stroke: var(--color-white);
                    opacity: 0.9;
                }

            }

            &:not(.active) svg:active{
                transform: scale(0.885);
                fill: var(--color-white);
            }

            &.active svg {
                stroke: var(--color-white);
            }
        }
    }

    &-services {
        top: 0;
        left: 0;
        width: calc(100% - 110px);
        height: 100%;
        padding: 0 20px 30px 80px;
        position: relative;
        color: #1d1d2b;
        overflow: scroll;
        background: var(--color-back);

        .content {
            padding: 17px 30px;

            .filter {
                .label {
                    font-size: 11px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }

                input,
                button {
                    padding: 10px 20px;
                    border: none;
                    border-radius: 2px;
                    box-shadow: 0 0 1px var(--color-grey);
                }

                input {
                    width: 240px;
                    margin: 5px 10px 0 0;
                }

                button {
                    width: 120px;
                    cursor: pointer;
                    background: transparent;
                    color: var(--color-black);
                    transition: 0.2s linear;

                    &:hover,
                    &:active {
                        color: var(--color-white);
                        background: var(--color-primary);
                        opacity: 0.8;
                    }

                    &:active {
                        transform: scale(0.98);
                    }
                }
            }

            .payouts {
                .item {
                    width: calc(100% - 60px);
                    max-width: 1000px;
                    border-radius: 8px;
                    display: flex;
                    background: var(--color-white);
                    justify-content: space-between;
                    padding: 20px 30px;
                    margin-bottom: 17px;
                    box-shadow: 0 0 1px var(--color-grey);

                    > div {
                        width: 30%;
                        height: 70px;
                        align-self: center;

                        &:first-child {
                            width: 40%;
                            height: 100%;
                        }
                    }

                    .promocode {
                        position: relative;

                        &:before {
                            position: absolute;
                            top: 2px;
                            left: 0;
                            color: var(--color-grey);
                            font-size: 11px;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            content: "Промокод";
                        }

                        &.copied {
                            input{
                                filter: brightness(4) opacity(0.3);
                            }
                            &:after {
                                content: "Скопировано";
                                letter-spacing: 2px;
                                background: #000000bb;
                                display: block;
                                position: absolute;
                                width: calc(100% - 10px);
                                height: calc(100% - 42px);
                                right: 10px;
                                top: 20px;
                                color: #fff;
                                z-index: 1;
                                padding-top: 18px;
                                text-align: center;
                                animation: scaleVertical 0.25s ease;
                                font-size: 11px;
                                text-transform: uppercase;
                                cursor: grabbing;
                            }

                            & > svg {
                                z-index: 2;
                                filter: brightness(3) grayscale(1);
                            }
                        }

                        @keyframes scaleVertical {
                            0% {
                                opacity: 0;
                                color: transparent;
                                transform: scaleY(0);
                            }

                            30% {
                                opacity: 0.5;
                                color: transparent;
                                transform: scaleY(1);
                            }

                            100% {
                                color: var(--color-white);
                                opacity: 1;
                            }
                        }

                        input,
                        svg {
                            position: absolute;
                            top: 20px;
                            right: 0;
                            transition: 0.3s ease;
                        }

                        input {
                            right: 10px;
                            width: calc(100% - 52px);
                            height: 26px;
                            border: none;
                            border-radius: 2px;
                            box-shadow: 0 0 1px var(--color-grey);
                            cursor: grab;
                        }

                        svg {
                            top: 37px;
                            right: 22px;
                            fill: var(--color-primary);
                        }
                    }

                    .button {
                        width: calc(100% - 30px);
                        text-align: center;
                        float: right;
                        text-decoration: none;
                        margin-top: 20px;
                        padding: 15px;
                        border-radius: 2px;
                        transition: 0.2s linear;

                        &:hover,
                        &:active {
                            opacity: 0.8;
                        }

                        &:active {
                            transform: scale(0.98);
                        }
                    }
                }
            }

            .filter,
            .payouts {
                padding-bottom: 15px;
            }
        }
    }

    h1 {
        font-size: 35px;
        letter-spacing: 2px;
        margin: 17px 0;
    }

    h2 {
        font-size: 20px;
        margin: 0 0 10px;
    }

    .label {
        font-size: 13px;
        letter-spacing: 0;
        color: var(--color-grey);
    }

    .value {
        font-size: 18px;
    }

    .header {
        width: 100%;
        padding: 18px 15px;
        background: var(--color-white);
        display: flex;
        align-items: flex-start;

        .param {
            .label,
            .value {
                display: block;
                padding: 1px 15px;
                width: 100%;
                clear: both;
            }
        }
    }

    .button {
        padding: 10px;
        width: 100%;
        color: var(--color-white);
        background: var(--color-primary);
        box-shadow: 0 0 1px -2px var(--color-primary);

        &:hover,
        &:active {
            box-shadow: 0 0 1px 0 var(--color-primary);
        }

        &:active {
            transform: scale(0.98);
        }
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
